<br>
<div class="container" >
    <div class="row">
        <div class="col-6 mx-auto">
            <h4>What are you looking for?</h4><br>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><img src="assets/Images/search-icon.png" alt=""></span>
                </div>
                <input type="text" class="form-control" placeholder="Search medicine, health products and more..."
                    [(ngModel)]="name" (keydown.enter)="onSearch(name)">
            </div>
        </div>
    </div>
</div>
<div>
<section id="hero" class="d-flex flex-column justify-content-center align-items-center" >
    <div class="container text-center text-md-left" data-aos="fade-up">
      <h1>Welcome to <span>Medicare</span></h1>
      <h2>Top Deal!!! Online Pharmacy</h2><br>
      <a href="#about" class="btn-get-started scrollto">Shop Now</a>
    </div>
  </section><!-- End Hero -->
</div>

